<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123952365623-mut1u34mhukl9l2ahdj5emhun3b2q5m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123952365623-mut1u34mhukl9l2ahdj5emhun3b2q5m9</string>
	<key>API_KEY</key>
	<string>apikey_value</string>
	<key>GCM_SENDER_ID</key>
	<string>123952365623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>e---commerce-5ebc4</string>
	<key>STORAGE_BUCKET</key>
	<string>e---commerce-5ebc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123952365623:ios:d3e9403d087c270f3c3fb2</string>
</dict>
</plist>
